{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container ">
    <div class="d-flex justify-content-center">
        <h1 class="m-5">PLOT</h1>
    </div>
    <div class="row">
        <div class="btn-group-vertical d-flex align-items-end column" role="group" style="margin-top: 10%;">
            <a href="{% url 'first'  %}" class="btn btn-dark btn-lg">One</a>
            <a href="{% url 'second'  %}" class="btn btn-dark btn-lg">Two</a>
            <a href="{% url 'third'  %}" class="btn btn-dark btn-lg">There</a>
            <a href="{% url 'all'  %}" class="btn btn-dark btn-lg">All</a>
        </div>
    </div>
</div>
{% endblock %}